.darkmode .mode-toggle-switch {
  transform: translateX(100%);
}
.darkmode.wrapping-wrapper {
  background-color: rgb(29, 29, 29);
}
.darkmode textarea, .darkmode .wrapper {
  border: 1px solid black;
}
.darkmode textarea {
  color: white;
  background-color: black;
}
.darkmode textarea::placeholder {
  color: rgb(158, 158, 158);
}
.darkmode .wrapper {
  background-color: rgb(80, 80, 80);
}
.darkmode .info-bar {
  color: white;
}
.darkmode .mode-toggle {
  border: 1px solid black;
  background-color: white;
}
.darkmode .mode-toggle-switch {
  background-color: black;
}
.darkmode .mode-toggle-switch > svg {
  color: white;
}
.darkmode button {
  color: white;
  background-color: black;
}
.darkmode button:disabled {
  color: rgb(165, 165, 165);
  background-color: rgba(34, 34, 34, 0.5)
}
.darkmode input {
  color: white;
  background-color: black;
}
.darkmode input:read-only {
  color: rgb(207, 207, 207);
  background-color: rgb(41, 41, 41);
}
.darkmode span {
  color: white;
  background-color: black;
}