<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManyACounter</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/darkmode.css">
    <link rel="stylesheet" href="css/width-1250.css">
</head>
<body>
    <div id="app">
        <div :class="{ darkmode: darkmodeEnabled }" class="wrapping-wrapper" >
            <div class="counters">
                <div v-for="counter in counters" class="wrapper">
                    <button :id="counter.id" class="edit-name" @click="makeNameEditable" :disabled="counter.nameChangeDisabled">Edit Name</button>
                    <button :id="counter.id" class="reset-name" @click="resetName" :disabled="counter.nameChangeDisabled">Reset Name </button>
                    <input
                        :id="counter.id"
                        class="text"
                        :ref="counter.id"
                        type="text"
                        v-model.lazy="counter.name"
                        @keydown.enter="confirmNameChange"
                        @focusout="confirmNameChange"
                        :readonly="counter.inputReadOnly"
                        placeholder="Tätigkeit / Thema"
                    >
                    <button :id="counter.id" class="timer-control" @click="startTimer" :disabled="counter.startTimerDisabled">{{ counter.startOrResumeText }}</button>
                    <button :id="counter.id" class="timer-control" @click="stopTimer" :disabled="counter.stopTimerDisabled">Stop Timer</button>
                    <button :id="counter.id" class="timer-control-reset" @click="resetTimer" :disabled="counter.resetTimerDisabled">Reset Timer</button>
                    <span>{{ counter.display }}</span>
                </div>
                <div class="wrapper flex-end-1250-center">
                    <span>{{ counterSum }}</span>
                </div>
            </div>
            <div class="add">
                <textarea
                    ref="textarea"
                    rows="20"
                    placeholder="Hier können Notizen gemacht werden."
                    @focusout="setTextarea"
                    v-model="textareaContent"
                ></textarea>
                <div class="info-bar">
                    <div class="day-and-cw-info">
                        <div>{{ doy }}. Tag des Jahres</div>
                        <div>Aktuelle KW: {{ cw }}</div>
                    </div>
                    <div class="mode-toggle" @click="toggleMode">
                        <div class="mode-toggle-switch">
                              <svg v-if="darkmodeEnabled" class="moon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                              </svg>
                              <svg v-else class="sun" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                              </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>

</body>
</html>