:root {
    --header-height: 80px;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

body,
#app {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}
