:root {
	--text-color: #030303;
	--text-color-disabled: #b8b8b8;
	--text-color-placeholder: #b8b8b8;

	--element-bg-color: #ffffff;
	--element-bg-color-disabled: #dfdede;

	--bg-color-header: #ffffff;
	--bg-color: #ffffff;
}

.darkmode {
	--text-color: #F0F7F4;
	--text-color-disabled: #8a8a8a;
	--text-color-placeholder: #8a8a8a;

	--element-bg-color: #121212;
	--element-bg-color-disabled: #2c2c2c;

	--bg-color-header: #222222;
	--bg-color: #222222;
}