:root {
	--primary-color: black;
	--secondary-color: white;
	--tertiary-color: #a9a9a9;
	--quarternary-color: rgb(255, 253, 247);

	--button_disabled-color: rgba(114, 114, 114, 0.5);
	--button_disabled-bg-color: rgb(252, 252, 252);

	--input_read-only-color: rgba(0, 0, 0, 0.7);
	--input_read-only-bg-color: rgba(230, 230, 230, 0.7);

}

.darkmode {
	--primary-color: rgb(230, 230, 230);
	--secondary-color: rgb(31, 31, 31);
	--tertiary-color: rgb(158, 158, 158);
	--quarternary-color: rgb(37, 37, 37);

	--button_disabled-color: rgb(165, 165, 165);
	--button_disabled-bg-color: rgba(34, 34, 34, 0.5);

	--input_read-only-color: rgb(207, 207, 207);
	--input_read-only-bg-color: rgb(41, 41, 41);
}

body {
	background-color: var(--quarternary-color);
}